<div class="flex bg-white hover:bg-gray-100">
    <%= link_to @ticket.id, @ticket, class: "w-1/6 block py-2 px-4 text-center text-blue-500" %>
  <div class="w-1/6 py-2 px-4 text-center"><%= @ticket.title %></div>
  <div class="w-1/6 py-2 px-4 text-center"><%= @ticket.description %></div>
  <div class="w-1/6 py-2 px-4 text-center"><%= @ticket.status %></div>
  <div class="w-1/6 py-2 px-4 text-center"><%= @ticket.priority %></div>
  <a href="#" class="w-1/6 block py-2 px-4 text-center text-blue-500"><%= @ticket.user&.email %></a>
</div>
