<div class="flex flex-row mb-1">
  <div class="w-1/3 px-4 py-2 bg-gray-100 text-gray-800">
    <%= link_to @ticket.id, @ticket  %>
  </div>
  <div class="w-1/3 px-4 py-2 bg-gray-100 text-gray-800">
    <%= @ticket.title %>
  </div>
  <div class="w-1/3 px-4 py-2 bg-gray-100 text-gray-800">
    <%= @ticket.description %>
  </div>
  <div class="w-1/3 px-4 py-2 bg-gray-100 text-gray-800">
    <%= @ticket.status %>
  </div>
  <div class="w-1/3 px-4 py-2 bg-gray-100 text-gray-800">
    <%= @ticket.priority %>
  </div>
  <div class="w-1/3 px-4 py-2 bg-gray-100 text-gray-800">
    <%= @ticket&.user&.email %>
  </div>
</div>
