<div id="<%= dom_id ticket_category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ticket:</strong>
    <%= ticket_category.ticket_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= ticket_category.category_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ticket category", ticket_category, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this ticket category', edit_ticket_category_path(ticket_category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
