<div id="<%= dom_id ticket %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= ticket.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= ticket.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= ticket.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Files:</strong>
    <% ticket.files.each do |file| %>
      <div><%= link_to file.filename, file %></div>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= ticket.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ticket type:</strong>
    <%= ticket.ticket_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ticket", ticket, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this ticket', edit_ticket_path(ticket), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
